<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891528953826-vbupt399mtlcb0lt0b52e8jeci9ajn4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891528953826-vbupt399mtlcb0lt0b52e8jeci9ajn4e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891528953826-25lf9bij4glrm0c7rbfeo9feva31shh5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT8Psm3V2zwa9EOUXU4bTjVTiewt1CE5U</string>
	<key>GCM_SENDER_ID</key>
	<string>891528953826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.regedit.webcomic.webcomic</string>
	<key>PROJECT_ID</key>
	<string>manga-app-b511a</string>
	<key>STORAGE_BUCKET</key>
	<string>manga-app-b511a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891528953826:ios:6df8091bca4a0140ba83bb</string>
</dict>
</plist>